# Assignment:  
First take pclass , gender, SibSP , ParCh, Embarked as dependent variable one by one and others as the independent variable and find the confusion matrix. Using looping or function how can you minimize the code.

In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('train.csv')

In [3]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
from sklearn import preprocessing

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
from sklearn.naive_bayes import GaussianNB

In [7]:
from sklearn.metrics import accuracy_score

In [8]:
from sklearn.metrics import confusion_matrix

In [9]:
dataset.shape

(889, 12)

In [10]:
# checking missing values
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [11]:
# dropping the column as it contains more missing values 
dataset=dataset.drop(columns=['Cabin'],axis=1)

In [12]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [13]:
dataset.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [14]:
dataset.shape

(889, 11)

In [15]:
# dropping unnecessary columns
dataset=dataset.drop(columns=['PassengerId','Name','Ticket'],axis=1)

In [16]:
dataset.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [17]:
# Conversion of variables
le=preprocessing.LabelEncoder()
dataset['Sex']=le.fit_transform(dataset['Sex'])
dataset['Embarked']= le.fit_transform(dataset['Embarked'])

In [18]:
dataset.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [19]:
columns=['Survived','Pclass', 'Sex', 'SibSp','Parch', 'Embarked']

In [20]:
for column_name in columns:
    y=dataset[column_name]
    X=dataset.drop(column_name,axis=1)
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
    clf=GaussianNB()
    print("\nDependent Variable:",column_name)
    y_pred=clf.fit(X_train,y_train).predict(X_test)
    print("Accuracy Score:",accuracy_score(y_test,y_pred,normalize=True))
    print("Confusion Matrix:\n",confusion_matrix(y_test,y_pred))

Dependent Variable: Survived
Accuracy Score: 0.7528089887640449
Confusion Matrix:
 [[121  36]
 [ 30  80]]

Dependent Variable: Pclass
Accuracy Score: 0.6966292134831461
Confusion Matrix:
 [[ 52  13   5]
 [  5  25  19]
 [  5  34 109]]

Dependent Variable: Sex
Accuracy Score: 0.7153558052434457
Confusion Matrix:
 [[ 52  46]
 [ 30 139]]

Dependent Variable: SibSp
Accuracy Score: 0.5543071161048689
Confusion Matrix:
 [[130   8   2  40   2   0   0]
 [ 29   9   0  25   2   0   0]
 [  6   0   1   0   1   0   0]
 [  1   0   0   3   3   0   0]
 [  0   0   0   0   2   0   0]
 [  0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   2]]

Dependent Variable: Parch
Accuracy Score: 0.5805243445692884
Confusion Matrix:
 [[143   9   2  31  13]
 [ 17   5   2  12   4]
 [  7   5   7   6   2]
 [  0   0   0   0   1]
 [  0   0   0   1   0]]

Dependent Variable: Embarked
Accuracy Score: 0.6928838951310862
Confusion Matrix:
 [[ 23   3  23]
 [  0  10  12]
 [ 23  21 152]]

In [21]:
result={'Dependent Variable':['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch','Embarked'],
         'Accuracy Score': [0.7528,0.6966,0.7153,0.5543,0.5805,0.6928],
         'Total ':[267,267,267,267,267,267],
         'Correct Prediction':[201,186,191,148,155,185],
         'Incorrect Prediction':[66,81,76,119,136,82]}
result=pd.DataFrame(result)
print(result)

  Dependent Variable  Accuracy Score  Total   Correct Prediction  \
0           Survived          0.7528     267                 201
1             Pclass          0.6966     267                 186
2                Sex          0.7153     267                 191
3              SibSp          0.5543     267                 148
4              Parch          0.5805     267                 155
5           Embarked          0.6928     267                 185

   Incorrect Prediction
0                    66
1                    81
2                    76
3                   119
4                   136
5                    82

# Inference
1. Survived has high accuracy score.
2. SibSp has low accuracy score.